<%- include('./../includes/header') %>
<%- include('./../includes/navigation')%>
<div class="container-fluid">
    <%var sum = 0%>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
           
            <% for(var course of courses) { %>
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="card-img-top" src="<%=course.image_url%>" alt="Card image cap">
                        </div>
                        <div class="col-md-8">
                            <h5><%=course.course_name%></h5>
                            <div class="row">
                                <div class="col-3">
                                    <%=course.course_type%><br>
                                    <%=course.max_seats%> Seats
                                </div>
                                <div class="col-3" style="text-align: right;">
                                    <%=course.lec_hours%> Hours<br>
                                    <i class="fas fa-rupee-sign"></i> <%=course.price%>
                                </div>
                                <div class="col">
                                    <div style="text-align: right;">
                                            <form action="/delete" method="POST">
                                                <button class="btn btn-danger btn-md"><i class="fas fa-trash-alt"></i></button>
                                                <input class="input" name="course_id" type="hidden" value="<%=course._id%>">
                                            </form>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <%sum = sum + course.price%>
            <% } %>
        </div>

        <div class="col-md-4" style="text-align: center;">
            <br>
            <h1>Total : <i class="fas fa-rupee-sign"></i> <%=sum%> </h1>
            <br>
            <form action="/checkout" method="POST">
                <button class="btn btn-primary btn-lg" style="border-radius: 40px;">CHECKOUT</button>
            </form>
        </div>
        <div class="col-md-1"></div>
        
    </div>
</div>
        
        
       



<%- include('./../includes/footer') %>

